body {
    margin: 0;
    font-family: Arial;
    background: #fdf3f7;
}

.navbar {
    background: #e58aac;
    color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 28px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 22px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 24px;
    margin-bottom: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}

h1 {
    margin-top: 0;
    color: #333;
}

.field {
    margin-bottom: 18px;
}

.field label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #d35a88;
    font-size: 22px;
}

input,
select,
textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #f0a9c2;
    border-radius: 12px;
    font-size: 18px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background: #e58aac;
    color: white;
    border: none;
    padding: 14px 22px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

button:hover {
    opacity: .9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background: #e58aac;
    color: white;
    padding: 14px;
    font-size: 18px;
}

td {
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#successMessage {
    margin-top: 18px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    border-radius: 18px;
    padding: 20px;
    display: none;
}